section {
  overflow-x: hidden;
}

.inner {
  position: relative;
  width: 94%;
  height: 100%;
  margin: 0 auto;
  &-12 {
    max-width: 1200px;
    @include s3 {
      max-width: 1024px;
    }
    @include s2 {
      max-width: 767px;
    }
    @include s1 {
      max-width: 320px;
    }
  }
  &-10 {
    max-width: 1000px;
  }
}
