* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Pretendard";
  font-weight: 400;
  letter-spacing: -0.04rem;
  font-size: 62.5%;
  @include s1 {
    min-width: 280px;
    overflow-x: auto;
  }
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
