.contents__ {
  &main {
    &-visual {
      height: 70rem;
      background-color: #ebebeb;
      @include tablet-default {
        height: 90rem;
      }
      @include mobile-default {
        height: 80rem;
      }
      @include mobile-fold {
        height: 60rem;
      }
      .main__ {
        &typo {
          &-wrap {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include tablet-pro {
              top: 10rem;
              transform: translateY(0);
            }
            @include tablet-default {
              top: 8rem;
              left: 50%;
              transform: translateY(0) translateX(-50%);
              width: 100%;
              text-align: center;
            }
            @include mobile-default {
              top: 10rem;
              left: 50%;
              transform: translateY(0) translateX(-50%);
              width: 100%;
              text-align: center;
            }
            @include mobile-mini {
              top: 8rem;
              left: 50%;
              transform: translateY(0) translateX(-50%);
              width: 100%;
              text-align: center;
            }
            @include mobile-fold {
              top: 6rem;
              left: 50%;
              transform: translateY(0) translateX(-50%);
              width: 100%;
              text-align: center;
            }
          }
          &-normal {
            font-size: 5.1rem;
            font-weight: 700;
            letter-spacing: -0.005rem;
            @include tablet-pro {
              font-size: 4.1rem;
            }
            @include mobile-default {
              font-size: 3.6rem;
            }
            @include mobile-mini {
              font-size: 3rem;
            }
            @include mobile-fold {
              font-size: 2.6rem;
            }

            &-text {
              display: block;
            }
            br {
              display: none;
            }
            strong {
              text-decoration: underline;
              text-underline-offset: 0.9rem;
            }
          }
          &-sub1 {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            margin: 2.9rem 0 2rem;
            font-size: 3rem;
            font-weight: 300;
            @include tablet-pro {
              margin: 2rem 0 1rem;
              font-size: 2.4rem;
            }
            @include mobile-mini {
              margin: 2rem 0 1rem;
              font-size: 2.4rem;
            }
            @include mobile-fold {
              margin: 2rem 0 1rem;
              font-size: 2.4rem;
            }
          }
          &-icon {
            img {
              @include tablet-pro {
                width: 10rem;
              }
              @include mobile-mini {
                width: 8rem;
              }
              @include mobile-fold {
                width: 8rem;
              }
            }
          }
          &-sub2 {
            display: block;
            margin-top: 4rem;
            font-size: 3rem;
            font-weight: 700;
            @include tablet-pro {
              margin-top: 3rem;
              font-size: 2.4rem;
            }
            @include mobile-mini {
              margin-top: 3rem;
              font-size: 2.4rem;
            }
            @include mobile-fold {
              margin-top: 3rem;
              font-size: 2.4rem;
            }
          }
        }
        &image {
          display: block;
          position: absolute;
          bottom: 0;
          right: -10rem;
          @include tablet-pro {
            width: 65rem;
            right: 0;
          }
          @include tablet-default {
            width: 60rem;
            right: 50%;
            transform: translateX(50%);
          }
          @include mobile-default {
            width: 36rem;
            bottom: 9rem;
            right: 50%;
            transform: translateX(50%);
          }
          @include mobile-mini {
            width: 100%;
            bottom: 12rem;
            right: 50%;
            transform: translateX(50%);
          }
          @include mobile-fold {
            width: 100%;
            bottom: 11rem;
            right: 50%;
            transform: translateX(50%);
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 5.7rem;
        right: 4.8rem;
        width: 18rem;
        height: 5.5rem;
        border-radius: 3rem;
        color: #fff;
        font-size: 1.8rem;
        background-color: #ff6000;
        @include tablet-default {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @include mobile-default {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          width: 24rem;
          height: 6.5rem;
          font-size: 2.2rem;
        }
        @include mobile-mini {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          width: 24rem;
          height: 6.5rem;
          font-size: 2.2rem;
        }
        @include mobile-fold {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          width: 22rem;
          height: 5.5rem;
          font-size: 1.8rem;
        }
      }
    }
    &-step {
      position: relative;
      text-align: center;
      overflow: hidden;
      .step__bg-phone {
        position: absolute;
        top: -37rem;
        left: 0;
      }
      .step__bg-airplane {
        position: absolute;
        top: 37rem;
        right: 0;
        mix-blend-mode: overlay;
      }

      .step__ {
        &feature-wrap {
          overflow: hidden;
          &:nth-of-type(1) {
            padding: 15rem 0 10rem;
            background-image: url(../assets/images/main-step_phone.png);
            background-repeat: no-repeat;
            background-position: 0 -37rem;
            background-color: #ff6000;
          }
          &:nth-of-type(2) {
            padding: 10rem 0 15rem;
            background-color: #ffa800;
          }
        }
        &typo-box {
          display: inline-block;
          padding-left: 2rem;
          padding-bottom: 0.8rem;
          margin-bottom: 15rem;
          margin-left: -2rem;
          text-align: center;
          letter-spacing: -0.01rem;
          background-image: url(../assets/images/main-step_underline.png);
          background-repeat: no-repeat;
          background-position: left bottom;
          span {
            color: #fff;
            font-size: 5.5rem;
            font-weight: 700;
            text-align: center;
            letter-spacing: -0.02rem;
            &:nth-child(1) {
              display: block;
              font-size: 5.5rem;
              font-weight: 300;
            }
            &:nth-child(2) {
              color: #fdff34;
              font-size: 5.5rem;

              i {
                color: #fff;
                font-style: none;
              }
            }
            &:nth-child(3) {
              margin-right: 1rem;
              color: #ffd234;
            }
          }
        }
        &feature-box {
          display: flex;
          align-items: top;
          justify-content: flex-start;
        }
        &feature-icon {
          margin-left: 19.5rem;
          margin-right: 22rem;
        }
        &feature-desc {
          text-align: left;
          .box {
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
            span {
              &:nth-child(1) {
                margin-right: 2.4rem;
                color: #fff;
                font-size: 4.5rem;
                font-weight: 700;
              }
              &:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24.6rem;
                height: 4.5rem;
                font-size: 2rem;
                font-weight: 700;
                background-color: #fff;
                border-radius: 3rem;
                &.keyword1 {
                  color: #ff6000;
                }
                &.keyword2 {
                  color: #ffa800;
                }
              }
            }
          }
          .desc {
            color: #fff;
            font-size: 2.5rem;
          }
        }
        &more-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36.2rem;
          height: 9.6rem;
          margin: 0 auto;
          margin-top: 18rem;
          color: #343b43;
          font-size: 3.5rem;
          font-weight: 700;
          letter-spacing: -0.04rem;
          border-radius: 5rem;
          background-color: #ffd200;
        }
      }
    }
    &-video {
      padding: 12rem 0 16rem;
      background-color: #ffd200;
      background-image: url("../assets/images/main-video_bg.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      .video__ {
        &text {
          &-icon {
            margin-bottom: 3rem;
            text-align: center;
          }
          &-desc {
            text-align: center;
            & > span {
              display: inline-block;
              padding: 0 1.3rem;
              margin-bottom: 1.6rem;
              color: #fff;
              font-size: 4rem;
              font-weight: 300;
              letter-spacing: -0.04em;
              background-color: #ffa800;
            }
            p {
              margin-bottom: 11rem;
              font-size: 6rem;
              font-weight: 700;
              span {
                color: #ff6000;
                strong {
                  color: #fff;
                  background-color: #000;
                }
              }
            }
          }
        }
        &box {
          width: 120rem;
          height: 68rem;
          background-color: #000;
        }
      }
    }
    &-banner {
      background-image: url(../assets/images/main-banner-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .banner__ {
        &wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            margin-top: -8rem;
          }
        }
        &typo-box {
          position: relative;
          margin-left: -10rem;
          span {
            display: inline-block;
            padding: 0.5rem 2rem;
            margin-bottom: 2rem;
            font-size: 2.8rem;
            background-color: #ffbf00;
          }
          p {
            position: relative;
            color: #fff;
            font-size: 4.5rem;
            font-weight: 500;
            letter-spacing: -0.06em;
            z-index: 1;
            strong {
              i {
                color: #ffbd00;
                font-style: normal;
              }
            }
          }
          img {
            position: absolute;
            bottom: -2rem;
            left: -5rem;
          }
        }
      }
    }
    &-feature {
      padding: 18rem 21rem;
      background-image: url("/src/assets/images/main-feature-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      .feature__ {
        &icon {
          margin-bottom: 6rem;
          text-align: center;
        }
        &typo {
          margin-bottom: 5rem;
          font-size: 5rem;
          text-align: center;
          span {
            &:nth-child(1) {
              display: block;
              font-weight: 100;
            }
            &:nth-child(2) {
              color: #fd8369;
              font-weight: 700;
            }
            &:nth-child(3) {
              font-weight: 700;
            }
          }
        }
        &box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 100rem;
          height: 28rem;
          margin: 0 auto;
          margin-bottom: 10rem;
          background-color: #e2e6ed;
          p {
            position: relative;
            font-size: 3rem;
            text-align: center;
            font-family: "GmarketSansMedium";
            color: #3a3a3a;
            z-index: 1;
          }

          img {
            position: absolute;
            &.comma1 {
              left: 24rem;
              top: 7.2rem;
            }
            &.comma2 {
              right: 25rem;
              top: 13.5rem;
            }
          }
        }
        &typo-box {
          text-align: center;
          & > span {
            display: inline-block;
            padding: 0 4rem;
            margin-bottom: 4rem;
            color: #fff;
            font-size: 5rem;
            font-weight: 100;
            letter-spacing: -0.06em;
            background-color: #ff6000;
          }
          p {
            span {
              position: relative;
              font-size: 6rem;
              font-weight: bold;
              letter-spacing: -0.06em;
              &:nth-of-type(odd) {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 0.5rem;
                  background-color: #000;
                }
              }
              &:nth-of-type(even) {
                color: #ff9834;
                &::before {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: -0.5rem;
                  width: 104%;
                  height: 0.5rem;
                  background-color: #ff9834;
                }
              }
            }
          }
        }
      }
    }
    &-review {
      padding: 14.4rem 0 12rem;
      background-color: #c82a00;
      .review__ {
        &title-box {
          img {
            display: block;
            margin: 0 auto;
            margin-bottom: 5rem;
          }
          .box {
            display: block;
            width: 60rem;
            height: 7rem;
            border-radius: 4rem;
            margin: 0 auto;
            margin-bottom: 4rem;
            color: #fff;
            font-size: 3.6rem;
            font-weight: 300;
            letter-spacing: -0.06em;
            text-align: center;
            line-height: 7rem;
            background-color: #ffba00;
          }
          span {
            &:nth-of-type(2) {
              display: block;
              margin-bottom: 1rem;
              color: #fef1ab;
              font-size: 4rem;
              font-weight: 300;
              text-align: center;
            }
            &:nth-of-type(3) {
              display: block;
              margin-bottom: 10rem;
              color: #fff;
              font-size: 6rem;
              font-weight: 500;
              text-align: center;
              letter-spacing: -0.06em;
              strong {
                color: #ffba00;
                font-weight: 500;
                text-decoration: underline;
                text-underline-offset: 1.2rem;
              }
            }
          }
        }
      }
      .review__caroucel {
        position: relative;
        width: 117rem;
        margin: 0 auto;
        margin-bottom: 13rem;
        padding: 3.5rem;
        overflow: hidden;
      }
      .swiper-slide {
        position: relative;
        width: 34rem;
        height: 49rem;
        padding: 5rem 4rem;
        border-radius: 5rem;
        background-color: #fff;
        opacity: 0.3;
        .mark {
          position: absolute;
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 13rem;
          height: 3.5rem;
          color: #fff;
          font-size: 1.5rem;
          line-height: 3.5rem;
          text-align: center;
          background-color: #ffba00;
        }
        &.swiper-slide-next {
          opacity: 1;
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 4rem;
          span {
            color: #4d4d4d;
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
        .title {
          margin-bottom: 2.5rem;
          color: #d94018;
          font-size: 2.5rem;
          font-weight: 700;
        }
        .desc {
          min-height: 14rem;
          margin-bottom: 4rem;
          font-size: 1.4rem;
          letter-spacing: -0.04em;
          line-height: 2em;

          word-break: keep-all;
          display: -webkit-box;
          word-wrap: break-word;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .star {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26.5rem;
          height: 6.5rem;
          background-color: #c82a00;
          border-radius: 5rem;
        }
      }
      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 6.5rem;
        height: 6.5rem;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
        cursor: pointer;
        &.caroucel__ {
          &next {
            right: 0;
            background-image: url("../assets/images/review-arrow-next.png");
          }
          &prev {
            left: 0;
            background-image: url("../assets/images/review-arrow-prev.png");
          }
        }
      }
      .caroucel__pagination {
        display: none;
      }
      .more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33rem;
        height: 10rem;
        margin: 0 auto;
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        background-color: #ffba00;
        border-radius: 5rem;
      }
    }
    &-package {
      padding: 22rem 0 24rem;
      background-image: url("../assets/images/main-package-bg.png");
      .title-box {
        margin-bottom: 14rem;
        text-align: center;
        span {
          font-family: "yg-jalnan";
          color: #fff;
          font-size: 6.5rem;
          &:nth-child(2) {
            color: #ffde00;
          }
          &:nth-child(3) {
            color: #ff9834;
          }
        }
        p {
          color: #fff;
          font-size: 3rem;
          font-weight: 300;
          text-align: center;
        }
      }
    }
    &-recommend {
      height: 68rem;
      background-image: url("../assets/images/main-recommend-bg.png");
      background-repeat: no-repeat;
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        &:nth-of-type(1) {
          margin-top: -6.2rem;
        }
        &:nth-of-type(2) {
          margin-left: 13.3rem;
        }
      }
    }
  }
}
