.contents__modify {
  padding: 82px 0 200px;
  .inner {
    max-width: 870px;
    @include s2 {
      max-width: 580px;
    }
    @include s1 {
      max-width: 280px;
    }

    &.form {
      max-width: 720px;
      @include s1 {
        max-width: 375px;
      }
    }
  }
  .modify__ {
    &title {
      margin-bottom: 51px;
      font-size: 46px;
      text-align: center;
      @include s1 {
        margin-bottom: 20px;
        font-size: 30px;
      }
    }
    &desc {
      margin-bottom: 41px;
      color: #76777a;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
      @include s1 {
        margin-bottom: 25px;
        font-size: 16px;
      }
    }
    &contact-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 67px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 31px;
        &:nth-child(1) {
          margin-right: 40px;
          @include s2 {
            margin-right: 10px;
          }
        }
        img {
          display: block;
          margin-right: 13px;
        }
        @include s2 {
          font-size: 24px;
          img {
            width: 40px;
            margin-right: 8px;
            @include s1 {
              width: 30px;
            }
          }
        }
        @include s1 {
          font-size: 16px;
        }
      }
    }
    &form {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      @include s1 {
        flex-direction: column;
        align-items: center;
      }
      img {
        display: block;
        margin-right: 60px;
        @include s2 {
          width: 200px;
          margin-right: 30px;
        }
        @include s1 {
          margin-right: 0;
        }
      }
      .info {
        width: 100%;
        margin-top: 23px;
        h3 {
          padding-left: 18px;
          margin-bottom: 32px;
          font-size: 32px;
          font-weight: 700;
          @include s2 {
            margin-bottom: 24px;
            font-size: 24px;
          }
          @include s1 {
            text-align: center;
          }
        }
        p {
          padding-left: 18px;
          margin-bottom: 23px;
          font-size: 20px;
          line-height: 1.3;
          strong {
            color: #ff6000;
            font-weight: 300;
          }
          @include s2 {
            font-size: 18px;
          }
          @include s1 {
            font-size: 16px;
            text-align: center;
          }
        }
        .form-box {
          margin-bottom: 40px;
          border-bottom: 1px solid #dcdcdc;
          input {
            width: 100%;
            padding: 28px 63px 27px 18px;
            font-size: 26px;
            background-image: url("../assets/images/modify-pw.png");
            background-repeat: no-repeat;
            background-position: 95% 38%;
            &::placeholder {
              color: #b1b1b1;
              font-size: 26px;
            }
            @include s2 {
              padding: 14px 32px 13px 9px;
              font-size: 18px;
              &::placeholder {
                font-size: 18px;
              }
            }
            @include s1 {
              font-size: 14px;
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 350px;
          height: 70px;
          margin-left: 18px;
          color: #fff;
          font-size: 28px;
          background-color: #ff6000;
          border-radius: 35px;
          @include s2 {
            max-width: 280px;
            height: 60px;
            font-size: 18px;
          }
          @include s1 {
            height: 50px;
            margin: 0 auto;
            font-size: 16px;
          }
        }
      }
    }
  }
  .mform__ {
    &title {
      margin-bottom: 91px;
      font-size: 46px;
      text-align: center;
      @include s1 {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }
    &form-box {
      margin-bottom: 76px;
      @include s1 {
        margin-bottom: 38px;
      }
      h3 {
        margin-bottom: 33px;
        font-size: 30px;
        font-weight: 500;
        span {
          font-weight: 300;
        }
        @include s1 {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }
    }
    &item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      @include s1 {
        flex-direction: column;
        align-items: flex-start;
      }
      &:last-child {
        margin-bottom: 0;
      }
      h4 {
        flex-shrink: 0;
        width: 140px;
        color: #ff6000;
        font-size: 20px;
        font-weight: 400;
        @include s1 {
          width: 100%;
          font-size: 14px;
        }
        &.first {
          align-self: flex-start;
          margin-top: 29px;
          &.kakao {
            margin-top: 0;
            @include s1 {
              margin-bottom: 10px;
              br {
                display: none;
              }
            }
          }
        }
      }
      input {
        width: 100%;
        padding: 27px 18px 24px;
        font-size: 20px;
        border-bottom: 1px solid #cecece;
        @include s1 {
          padding: 13px 9px 12px;
          font-size: 15px;
        }
      }
      .pw-box {
        width: 100%;
        padding: 12px 18px 13px;
        border-bottom: 1px solid #cecece;
        @include s1 {
          padding: 13px 9px 12px;
        }
        .popup-btn {
          width: 140px;
          height: 44px;
          color: #fff;
          font-size: 20px;
          background-color: #ff6000;
          border-radius: 10px;
          @include s1 {
            width: 100%;
            max-width: 100px;
            height: 30px;
            font-size: 14px;
          }
        }
      }
      .addr-box {
        width: 100%;
        .addr-item {
          position: relative;
        }
      }
      .email-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        @include s1 {
          flex-direction: column;
        }
        .email-item {
          width: 100%;
          position: relative;
        }
        span {
          margin: 0 8px;
          color: #ff6000;
          font-size: 20px;
          @include s1 {
            display: none;
          }
        }
      }
      .search-btn,
      .email-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 44px;
        color: #636569;
        font-size: 20px;
        background-color: #eeeeed;
        border-radius: 10px;
        @include s1 {
          width: 100%;
          max-width: 100px;
          height: 30px;
          font-size: 14px;
        }
      }
      .kakao-box {
        width: 100%;
        label {
          justify-content: center;
        }
        p {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 500;
          @include s1 {
            font-size: 15px;
          }
        }
        .list {
          margin-bottom: 18px;
          li {
            margin-bottom: 5px;
            color: #76777a;
            font-size: 15px;
            @include s1 {
              font-size: 14px;
            }
          }
        }
      }
      .out-box {
        width: 100%;
        padding: 12px 18px 13px;
        border-bottom: 1px solid #cecece;
        @include s1 {
          padding: 13px 9px 12px;
        }
        .out-btn {
          width: 140px;
          height: 44px;
          color: #636569;
          font-size: 20px;
          background-color: #eeeeed;
          border-radius: 10px;
          @include s1 {
            width: 100%;
            max-width: 100px;
            height: 30px;
            font-size: 14px;
          }
        }
      }
    }

    &btn-wrap {
      display: flex;
      justify-content: center;
      margin: 68px 0 60px;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 210px;
        height: 70px;
        color: #fff;
        font-size: 28px;
        background-color: #ff6000;
        border-radius: 35px;
        @include s1 {
          height: 50px;
          font-size: 16px;
        }
        &.cancel {
          margin-right: 10px;
          background-color: #272727;
        }
      }
    }
  }
}
.contents__modify-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100lvh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    width: 100%;
  }
  .popup-wrap {
    width: 90%;
    max-width: 540px;
    overflow: auto;
    button {
      display: block;
      margin-bottom: 21px;
      margin-left: auto;
      @include s1 {
        width: 50px;
        margin-bottom: 10px;
      }
    }
    .cont {
      padding-top: 38px;
      background-color: #fff;
      text-align: center;
      border-radius: 20px 20px 30px 30px;
      img {
        width: 30px;
      }
      h2 {
        margin-top: 27px;
        margin-bottom: 22px;
        font-size: 32px;
        text-align: center;
        @include s1 {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 24px;
        }
      }
      .desc {
        margin-bottom: 54px;
        padding: 0 20px;
        color: #8c8c8c;
        font-size: 18px;
        @include s1 {
          margin-bottom: 27px;
          font-size: 16px;
        }
      }
      .form-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 38px;
        @include s1 {
          flex-direction: column;
          align-items: flex-start;
          padding: 0 20px;
          margin-bottom: 20px;
        }
        h3 {
          flex-shrink: 0;
          width: 123px;
          font-size: 20px;
          text-align: left;
          &.point {
            color: #ff6000;
          }
          @include s1 {
            font-size: 16px;
          }
        }
        input {
          width: 100%;
          padding: 27px 7px 28px;
          font-size: 16px;
          border-bottom: 1px solid #cecece;
          &::placeholder {
            color: #cecece;
            font-size: 16px;
          }
          @include s1 {
            padding: 15px 7px 15px;
            &::placeholder {
              font-size: 12px;
            }
          }
          @include s0 {
            padding: 10px 7px 10px;
            &::placeholder {
              font-size: 11px;
            }
          }
        }
      }
      .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
        @include s1 {
          margin-top: 30px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 27px 0;
          color: #fff;
          font-size: 28px;
          background-color: #ff6000;
          border-radius: 0 0 20px 0;
          &.cancel {
            background-color: #1c1c1c;
            border-radius: 0 0 0 20px;
          }
          @include s1 {
            padding: 15px 0;
            font-size: 16px;
          }
        }
      }
    }
  }
}
