.contents__service {
  padding: 87px 0 250px;
  .inner {
    padding: 0 32px;
    @include s1 {
      padding: 0;
    }
  }
  .service__ {
    &title-box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 90px;
      @include s1 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 50px;
      }
      .title {
        color: #ff6000;
        font-size: 30px;
        font-weight: 500;
        @include s1 {
          margin-bottom: 20px;
          font-size: 24px;
        }
      }
      .location {
        color: #98989a;
        font-size: 16px;
        span {
          color: #ff6000;
        }
      }
    }
    &board-list {
      .search-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include s1 {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          max-width: 320px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        select {
          width: 120px;
          height: 44px;
          margin-right: 8px;
          padding: 0 11px;
          font-size: 15px;
          font-weight: 500;
          border: 1px solid #e4e4e4;
          background-image: url("../assets/images/search-arrow.png");
          background-position: 95% center;
          background-repeat: no-repeat;
          @include s1 {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
        input {
          width: 200px;
          height: 44px;
          padding-left: 13px;
          font-size: 15px;
          border: 1px solid #e4e4e4;
          @include s1 {
            width: 100%;
            font-size: 14px;
          }
        }
        .form-box {
          position: relative;
          @include s1 {
            width: 100%;
          }
          button {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
          }
        }
      }
      .total-info {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        @include s1 {
          display: none;
        }
      }
      .board- {
        &category {
          display: flex;
          width: 100%;
          background-color: #fafaf9;
          border-top: 1px solid #bababa;
          border-bottom: 1px solid #bababa;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.06em;
            &.no {
              width: 70px;
              flex-shrink: 0;
            }
            &.title {
              width: 536px;
            }
            &.user {
              width: 100px;
              flex-shrink: 0;
            }
            &.date {
              width: 150px;
              flex-shrink: 0;
            }
            &.view {
              width: 80px;
              flex-shrink: 0;
            }
            @include s2 {
              height: 40px;
              font-size: 16px;
              &.no {
                width: 60px;
                flex-shrink: 0;
              }
              &.title {
                width: 536px;
              }
              &.user {
                width: 90px;
                flex-shrink: 0;
              }
              &.date {
                width: 120px;
                flex-shrink: 0;
              }
              &.view {
                width: 70px;
                flex-shrink: 0;
              }
            }
            @include s1 {
              &.date {
                width: 80px;
              }
              &.no {
                width: 40px;
              }
              font-size: 14px;
              &.user {
                display: none;
              }
              &.view {
                display: none;
              }
            }
            @include s0 {
              &.date {
                display: none;
              }
            }
          }
        }
        &contents {
          width: 100%;
          margin-bottom: 44px;
          @include s1 {
            margin-bottom: 20px;
          }
          li {
            display: flex;
            width: 100%;
            height: 80px;
            border-bottom: 1px solid #e6e6e6;
            overflow: hidden;
            @include s2 {
              height: 50px;
            }
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #2e2e2e;
              font-size: 18px;
              font-weight: 100;
              letter-spacing: -0.06em;
              overflow: hidden;
              &.no {
                width: 70px;
                flex-shrink: 0;
              }
              &.title {
                width: 536px;
                justify-content: flex-start;
                flex-shrink: 1;
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  line-height: 80px;
                  color: #2e2e2e;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
              &.user {
                width: 100px;
                flex-shrink: 0;
              }
              &.date {
                width: 150px;
                flex-shrink: 0;
              }
              &.view {
                width: 80px;
                flex-shrink: 0;
              }
              @include s2 {
                height: 50px;
                font-size: 16px;
                &.no {
                  width: 60px;
                  flex-shrink: 0;
                }
                &.title {
                  a {
                    line-height: 50px;
                  }
                }
                &.user {
                  width: 90px;
                  flex-shrink: 0;
                }
                &.date {
                  width: 120px;
                  flex-shrink: 0;
                }
                &.view {
                  width: 70px;
                  flex-shrink: 0;
                }
              }
              @include s1 {
                font-size: 14px;
                &.user {
                  display: none;
                }
                &.view {
                  display: none;
                }
                &.date {
                  width: 80px;
                }
                &.no {
                  width: 40px;
                }
              }
              @include s0 {
                &.date {
                  display: none;
                }
              }
            }
          }
        }
      }
      .pagination-box {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          margin-right: 6px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          background-color: #303030;
          &:last-child {
            margin-right: 0;
          }
          &.current {
            background-color: #ff6000;
          }
        }
        @include s1 {
          a {
            width: 30px;
            height: 30px;
            font-size: 14px;
          }
        }
      }
    }
    &board-view {
      .view__ {
        &item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 10px 0;
          border-bottom: 1px solid #bababa;
          overflow: hidden;
          @include s1 {
            &:nth-child(2) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
          h3 {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            width: 185px;
            padding-left: 53px;
            color: #ff6000;
            font-size: 18px;
            @include s2 {
              width: 120px;
              padding-left: 30px;
              font-size: 16px;
            }
            @include s1 {
              font-size: 14px;
            }
          }
          span {
            font-size: 18px;
            font-weight: 300;
            word-break: break-all;
            @include s2 {
              font-size: 16px;
            }
            @include s1 {
              font-size: 14px;
            }
          }
          .box {
            display: flex;
            align-items: center;
            justify-content: center;
            @include s1 {
              justify-content: flex-start;
              width: 100%;
              &:first-child {
                padding-bottom: 10px;
              }
            }
            &:last-child {
              margin-left: auto;
              margin-right: 190px;
              @include s1 {
                padding-top: 10px;
                margin-left: 0;
                margin-right: 0;
                border-top: 1px solid #bababa;
              }
            }
          }
          .file {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding-right: 14px;
            background-color: #ff6000;
            overflow: hidden;
            img {
              margin-left: 10px;
            }
            a {
              display: block;
              max-width: 200px;
              height: 36px;
              padding-left: 14px;
              color: #fff;
              line-height: 36px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &content {
          min-height: 250px;
          padding: 20px;
          margin-bottom: 46px;
          border-bottom: 1px solid #bababa;
          @include s2 {
            margin-bottom: 30px;
          }
        }
      }
    }
    &board-faq {
      .search-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include s1 {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          max-width: 320px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        select {
          width: 120px;
          height: 44px;
          margin-right: 8px;
          padding: 0 11px;
          font-size: 15px;
          font-weight: 500;
          border: 1px solid #e4e4e4;
          background-image: url("../assets/images/search-arrow.png");
          background-position: 95% center;
          background-repeat: no-repeat;
          @include s1 {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
        input {
          width: 200px;
          height: 44px;
          padding-left: 13px;
          font-size: 15px;
          border: 1px solid #e4e4e4;
          @include s1 {
            width: 100%;
            font-size: 14px;
          }
        }
        .form-box {
          position: relative;
          @include s1 {
            width: 100%;
          }
          button {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
          }
        }
      }
      .tab-list {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 40px;
        .tab {
          position: relative;
          width: 100%;
          margin-right: 5px;
          padding: 19px 0;
          color: #a7a8a9;
          font-size: 20px;
          &:last-of-type {
            margin-right: 0;
          }
          &.active {
            color: #ff6000;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: #ff6000;
            }
          }
        }
      }
      .tab-contents {
        padding: 0 30px;
      }
      .pagination-box {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          margin-right: 6px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          background-color: #303030;
          &:last-child {
            margin-right: 0;
          }
          &.current {
            background-color: #ff6000;
          }
        }
        @include s1 {
          a {
            width: 30px;
            height: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .view__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    border-radius: 18px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    @include s1 {
      width: 100%;
      max-width: 320px;
      height: 40px;
      font-size: 16px;
    }
  }
}

.customer {
  .board-pager {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
  .board-pager a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 0.5rem;
    background-color: #303030;
    color: #fff;
    font-size: 1.8rem;
  }
  .board-pager a.current {
    background-color: #ff6000;
  }
  @include s1 {
    .customer .board-pager a {
      width: 3rem;
      height: 3rem;
      font-size: 1.4rem;
    }
  }
}

.customer .search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.customer .search-form .form-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0.5rem;
  border: 1px solid #e4e4e4;
}
.customer .search-form .form-box input {
  padding-left: 1rem;
  height: 3.8rem;
  box-sizing: border-box;
}
.customer .search-form .form-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
}

@include s1 {
  .customer .search-form .form-box {
    margin-left: 0;
    width: 100%;
  }
  .customer .search-form .form-box input {
    width: 100%;
  }
}

.customer {
  padding: 8rem 0;
}
.customer .title-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 9rem;
}
.customer h2 {
  color: #ff6000;
  font-size: 3rem;
  font-weight: 500;
}
.customer .title-box .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  color: #98989a;
  font-size: 1.6rem;
}
.customer .title-box .location span {
  padding: 0 0.5rem;
}
.customer .title-box .location a {
  color: #98989a;
}
.customer .title-box .location a.current {
  color: #ff6000;
}
.customer .tab-box {
  position: relative;
}
.customer .tab {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.customer .tab-mo {
  display: none;
}
.customer .tab a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  color: #a7a8a9;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.customer .tab a.selected {
  color: #ff6000;
  border-bottom: 2px solid #ff6000;
}
.customer.faq .list .item {
  display: none;
  border-bottom: none;
  cursor: pointer;
}
.customer.faq .list .item.visible {
  display: block;
}
.customer .question-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
  border-bottom: 1px solid #e3e3e3;
}
.customer .question-box .cate {
  display: block !important;
  width: 13rem !important;
  color: #ff6000 !important;
  font-size: 2.2rem;
  font-weight: 500;
}
.customer .question-box .q-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.customer .question-box h3 {
  margin-left: 1rem;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
}
.customer .question-box .bt {
  display: block;
  margin-left: auto;
  transform: rotate(180deg);
}

.customer .answer-wrap {
  display: none;
}
.customer .answer-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 3rem;
  background-color: #fafafa;
  border-bottom: 1px solid #e3e3e3;
}
.customer .answer-box .cate {
  display: block !important;
  width: 13rem !important;
}
.customer .answer-box .answer {
  width: 100%;
  margin-left: 1rem;
  color: #484848;
  font-size: 1.8rem;
  line-height: 1.6em;
  word-break: keep-all;
}
.customer .answer-box .answer span {
  display: block;
  width: 100%;
}

.customer .answer-box .answer a {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .customer {
    padding: 7rem 0;
  }
  .customer .board-top span,
  .customer .list .item span {
    font-size: 1.6rem;
  }
  .customer .list .item a span {
    padding: 2rem 0;
  }
  .customer .tab a {
    font-size: 1.6rem;
  }
  .customer .question-box .cate,
  .customer .answer-box .cate {
    width: 10rem !important;
    font-size: 1.8rem;
  }
  .customer .question-box h3 {
    font-size: 1.8rem;
  }
  .customer .answer-box .answer,
  .customer .answer-box .answer a {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .customer {
    padding: 7rem 0;
    padding-bottom: 0;
  }
  .customer .title-box {
    display: block;
    margin-bottom: 3rem;
    text-align: center;
  }
  .customer .title-box h2 {
    margin-bottom: 2rem;
  }
  .customer .title-box .location {
    justify-content: center;
  }
  .customer .search-form {
    margin-bottom: 2rem;
  }
  .customer .board-total {
    font-size: 1.4rem;
  }
  .customer .board-top span,
  .customer .list .item span {
    width: 8rem;
  }
  .customer .b_num {
    width: 6rem !important;
  }
  .customer .b_hit,
  .customer .b_writer {
    display: none !important;
  }
  .customer .board-top span,
  .customer .list .item span {
    font-size: 1.4rem;
  }
  .customer .board-pager {
    margin-bottom: 5rem;
  }
  .customer .board-pager a {
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .customer .tab {
    flex-wrap: wrap;
  }
  .customer .tab a {
    flex: auto;
    width: 33.33%;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-left: none;
  }
  .customer .tab a:nth-of-type(1),
  .customer .tab a:nth-of-type(2),
  .customer .tab a:nth-of-type(3) {
    border-top: 1px solid #e3e3e3;
  }
  .customer .tab a:nth-of-type(1),
  .customer .tab a:nth-of-type(4),
  .customer .tab a:nth-of-type(7) {
    border-left: 1px solid #e3e3e3;
  }
  .customer .tab a.selected {
    border-bottom: 1px solid #ff6c6c;
  }
  .customer .question-box {
    padding: 2rem 1rem;
  }
  .customer .question-box .cate {
    width: 6rem !important;
    font-size: 1.2rem !important;
  }
  .customer .question-box h3 {
    font-size: 1.4rem;
  }
  .customer .answer-box {
    padding: 2rem;
  }
  .customer .answer-box .answer {
    font-size: 1.4rem;
  }
  .customer .q-title img:nth-of-type(1) {
    width: 1.3rem;
  }
  .customer .answer-box img:nth-of-type(1) {
    width: 1.3rem;
  }
  .customer .answer-box .cate {
    display: none !important;
  }
  .customer .answer-box .answer span {
    display: block;
    width: 100%;
  }
  .customer .answer-box .answer a span {
    font-size: 10pt !important;
  }
}

@media (max-width: 460px) {
  .customer .tab-mo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    color: #666;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  .customer .tab-mo img {
    margin-left: auto;
  }
  .customer .tab {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
  }
  .customer .tab.open {
    display: block;
  }
  .customer .tab a {
    display: block;
    width: 100%;
    border: none;
  }
  .customer .tab a:nth-of-type(1),
  .customer .tab a:nth-of-type(2),
  .customer .tab a:nth-of-type(3) {
    border-top: none;
  }
  .customer .tab a:nth-of-type(1),
  .customer .tab a:nth-of-type(4),
  .customer .tab a:nth-of-type(7) {
    border-left: none;
  }
  .customer .tab a.selected {
    border-bottom: 0;
    color: #fff;
    background-color: #ff6000;
  }
  .customer .question-box {
    display: block;
  }
  .customer .question-box .cate {
    margin-bottom: 1rem;
  }
}
